body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.picContainer{
  overflow: visible;
  position: relative;
  background: #cccccc
}

.evaluationTooltip{
  z-index: 9999;
  width:"20%"
}

.animate-on-change {
  transition: all 100ms ease-in-out !important;
}
